@font-face {
    font-family: 'Geo Sans Light';
    src: url('fontface/geosanslight-webfont.eot');
    src: url('fontface/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontface/geosanslight-webfont.woff') format('woff'),
    url('fontface/geosanslight-webfont.ttf') format('truetype'),
    url('fontface/geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}