@font-face {
    font-family: 'Neuropol';
    src: url('fontface/neuropol-webfont.eot');
    src: url('fontface/neuropol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/neuropol-webfont.woff') format('woff'),
         url('fontface/neuropol-webfont.ttf') format('truetype'),
         url('fontface/neuropol-webfont.svg#neuropolregular') format('svg');
    font-weight: normal;
    font-style: normal;

}