* {
    outline               : none;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    user-select           : none;
    cursor                : default;
}

html {
    height : 100%;
}

body {
    margin      : 0;
    padding     : 0;
    height      : 100%;
    background  : #000;
    position    : relative;
    overflow    : hidden;
    font-family : 'Geo Sans Light';
}

p {
    margin    : 0;
    padding   : 0;
    font-size : 18px;
}

.clear {
    clear : both;
    float : none;
}

#overlay, .overlay {
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
    position   : absolute;
    background : #000;
    z-index    : 100;
}

#background {
    background-attachment : fixed;
    background-position   : center center;
    position              : absolute;
    top                   : 0;
    left                  : 0;
    right                 : 0;
    bottom                : 0;
    z-index               : -1;
}

#maximize {
    width      : 40px;
    height     : 40px;
    position   : absolute;
    background : url('images/maximize.png') center center no-repeat;
    cursor     : pointer;
    z-index    : 150;
    display    : none;
}

#minimize {
    width      : 40px;
    height     : 40px;
    position   : absolute;
    background : url('images/minimize.png') center center no-repeat;
    cursor     : pointer;
    z-index    : 150;
}

#horloge {
    height      : 45px;
    line-height : 45px;
    position    : absolute;
    z-index     : 5;
    text-align  : center;
    color       : #FFF;
    font-size   : 35px;
}

#params {
    width                       : 40px;
    height                      : 40px;
    position                    : absolute;
    background                  : url('images/params.png') center center no-repeat;
    cursor                      : pointer;
    z-index                     : 150;
    -webkit-transition-duration : 1s;
}

#params:hover {
    -webkit-transform : rotate(360deg);
}

#gameInfo {
    height        : 55%;
    background    : rgba(0, 0, 0, 0.75);
    position      : relative;
    top           : 10%;
    left          : 0;
    right         : 0;
    border-top    : solid 3px rgba(255, 255, 255, 0.25);
    border-bottom : solid 3px rgba(255, 255, 255, 0.25);
}

#gameInfo #containerInfo {
    opacity  : 0;
    position : relative;
}

#gameInfo #containerInfo .infos {
    float         : left;
    margin-bottom : 15px;
    max-width     : 45%;
}

#gameInfo #containerInfo .infos h1 {
    margin-top  : 0;
    font-weight : bold !important;
    color       : #FFF;
}

#gameInfo #containerInfo .infos h2 {
    margin      : 0;
    color       : #9E8748;
    font-weight : normal;
}

.white, #gameInfo #containerInfo .descriptif {
    color : #FFF;
}

#gameInfo #containerInfo .descriptif {
    text-align : justify;
    position   : absolute;
    bottom     : 0;
    overflow   : hidden;
    float      : left;
    max-width: 45%;
}

#gameInfo .image {
    float         : right;
    border-radius : 5px 5px 5px 5px;
    border        : solid 3px rgba(255, 255, 255, 0.25);
    max-width     : 45%;
}

#gameList {
    height     : 30%;
    background : rgba(0, 0, 0, 0.4);
    position   : absolute;
    bottom     : 0;
    left       : 0;
    right      : 0;
    border-top : solid 3px rgba(255, 255, 255, 0.25);
    z-index: 150;
}

#gameList #containerList {
    position : relative;
    height   : 100%;
    opacity  : 0;
}

#gameList #containerList #List {
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow: hidden;
    overflow-y: show;
    margin-top: 25px;
}

#gameList #containerList #List ul {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameList #containerList #List ul li {
    position: relative;
    margin: 0 -20px;
    -webkit-transform: rotateY(60deg) scale(0.9);
    -ms-transform: rotateY(60deg) scale(0.9);
    transform: rotateY(60deg) scale(0.9);
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    float: left;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius : 5px 5px 5px 5px;
    border        : solid 3px rgba(255, 255, 255, 0.25);
}

#gameList #containerList #List ul li img {
    cursor: pointer;
}

#gameList #containerList #List ul li.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    color: #fff;
}

#gameList #containerList #List ul li.active ~ li {
    -webkit-transform: rotateY(-60deg) scale(0.9);
    -ms-transform: rotateY(-60deg) scale(0.9);
    transform: rotateY(-60deg) scale(0.9);
}

#loading {
    display: none;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
    line-height: 100vh;
    font-size: 40px;
}

#loading #messageLoading {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

path {
    stroke: #209AC8;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    -webkit-animation: load 4s linear infinite, color 3s linear infinite;
    -moz-animation: load 4s linear infinite, color 3s linear infinite;
    animation: load 4s linear infinite, color 3s linear infinite;
}

@-webkit-keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}

@-moz-keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}

path {
    stroke            : #209AC8;
    stroke-width      : 6;
    stroke-linejoin   : round;
    stroke-linecap    : round;
    stroke-dasharray  : 193.904983521;
    fill              : none;
    -webkit-animation : load 4s linear infinite, color 3s linear infinite;
    -moz-animation    : load 4s linear infinite, color 3s linear infinite;
    animation         : load 4s linear infinite, color 3s linear infinite;
}

@-webkit-keyframes load {
    from {
        stroke-dashoffset : 775.6199340820312;
    }
}

@-moz-keyframes load {
    from {
        stroke-dashoffset : 775.6199340820312;
    }
}

@keyframes load {
    from {
        stroke-dashoffset : 775.6199340820312;
    }
}