* {
    outline: none;
    cursor: none !important;
    /*cursor: default !important;*/
}

html {
    width: 1920px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    background: radial-gradient(#222, black);
    background-attachment: fixed;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    transition-duration: 250ms;
}

body {
    font-family: "Neuropol";
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    min-height: 1080px;
}

h1 {
    font-size: 40px;
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    margin-bottom: 30px;
}

h1.title {
    position: absolute;
    top: 40px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 75px;
}

.clear {
    clear: both;
    float: none;
}

.cache {
    display: none;
}

.noMargin {
    margin: 0px !important;
}









#loadingApp {
    background: radial-gradient(#222, black);
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    line-height: 100vh;
    text-align: center;
    font-size: 40px;
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
}







#container {
    width: 1560px;
    height: 100%;
    padding-top: 140px;
    margin: 0 auto;
}





.game {
    width: 350px;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
    border: solid 1px #333;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.game .image {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
}

.game .titre {
    position: absolute;
    bottom: -66px;
    right: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius   : 0px 0px 10px 10px;
    -ms-border-radius    : 0px 0px 10px 10px;
    -o-border-radius     : 0px 0px 10px 10px;
    border-radius        : 0px 0px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    height: 60px;
    width: 300px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
}

.game.active {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 150, 255, 1);
    -moz-box-shadow:    0px 0px 25px 0px rgba(0, 150, 255, 1);
    box-shadow:         0px 0px 25px 0px rgba(0, 150, 255, 1);
    border: solid 1px #1f5e8a;
}

.game.active .titre {
    bottom: 0px;
}



















#containerMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 20;
    width: 1920px;
    height: 1080px;
}

#menu {
    background: radial-gradient(#222, black);
    position: absolute;
    top: 415px;
    left: 585px;
    width: 750px;
    height: 250px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 150, 255, 1);
    -moz-box-shadow:    0px 0px 25px 0px rgba(0, 150, 255, 1);
    box-shadow:         0px 0px 25px 0px rgba(0, 150, 255, 1);
}

#menu #params, #menu #quitter {
    float: left;
    width: 375px;
    height: 225px;
    text-align: center;
    cursor: pointer;
}

#menu .titre {
    width: 375px;
    line-height: 50px;
    font-size: 50px;
    margin-top: -15px;
}

#menu #params.active .titre, #menu #quitter.active .titre {
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
}









#containerGameInfos {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    width: 1920px;
    height: 1080px;
}

#gameInfos {
    background: radial-gradient(#222, black);
    position: absolute;
    top: 165px;
    left: 460px;
    width: 900px;
    height: 650px;
    padding: 50px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 150, 255, 1);
    -moz-box-shadow:    0px 0px 25px 0px rgba(0, 150, 255, 1);
    box-shadow:         0px 0px 25px 0px rgba(0, 150, 255, 1);
}

#gameInfos .pochette {
    float: left;
    width: 300px;;
}

#gameInfos .pochette .front {
    width: 300px;
    min-width: 300px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 150, 255, 1);
    -moz-box-shadow:    0px 0px 25px 0px rgba(0, 150, 255, 1);
    box-shadow:         0px 0px 25px 0px rgba(0, 150, 255, 1);
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
}

#gameInfos .infos {
    float: right;
    width: 550px;
}

#gameInfos .infos .titre {
    font-size: 30px;
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    margin-bottom: 30px;
}

#gameInfos .infos .sortie, #gameInfos .infos .note {
    text-align: right;
    font-size: 20px;
}

#gameInfos .infos .editeur {
    margin-top: 30px;
}

#gameInfos label {
    font-size: 20px;
    text-transform: uppercase;
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    margin-right: 25px;
}

#gameInfos .infos .description {
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

#gameInfos .infos .carrousel {
    width: 550px;
    height: 150px;
}

#gameInfos .infos .carrousel img {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 150, 255, 1);
    -moz-box-shadow:    0px 0px 25px 0px rgba(0, 150, 255, 1);
    box-shadow:         0px 0px 25px 0px rgba(0, 150, 255, 1);
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -ms-border-radius    : 10px 10px 10px 10px;
    -o-border-radius     : 10px 10px 10px 10px;
    border-radius        : 10px 10px 10px 10px;
    margin-top: 25px;
    margin-left: 20px;
}

#gameInfos #lancer {
    text-align: center;
    float: left;
    margin-top: 30px;
}







#containerLoading {
    width: 1920px;
    height: 1080px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 30;
    line-height: 100vh;
    font-size: 40px;
    -moz-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    -webkit-text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
    text-shadow: 0px 0px 25px rgba(0, 150, 255, 1);
}

svg {
    display: inline-block;
    vertical-align: middle;
}

path {
    stroke: rgba(0, 150, 255, 0.75);
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    -webkit-animation: load 4s linear infinite, color 3s linear infinite;
    -moz-animation: load 4s linear infinite, color 3s linear infinite;
    animation: load 4s linear infinite, color 3s linear infinite;
}

@-webkit-keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}

@-moz-keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
}